!empty
*.swp
*~
.DS_Store
._*
/.buildpath
/.cache
/.gitattributes
/.idea
/.metadata
/.project
/.settings
/composer.lock
/composer.phar
/credentials.xml
/nbproject
/phpunit.xml
/sitemap
/vendor
Thumbs.db
atlassian*