<?xml version="1.0"?>
<!--
  ~ Copyright © 2016 Fontera Digital Works. All rights reserved.
  ~ See LICENSE.md for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <snapscan>
                <active>0</active>
                <debug>1</debug>
                <can_authorize>0</can_authorize>
                <can_cancel>0</can_cancel>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <currency>ZAR</currency>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <model>SnapScanGatewayFacade</model>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
                <debugReplaceKeys>expiryMonth,expiryYear</debugReplaceKeys>
                <title>SnapScan</title>
                <api_url>https://pos.snapscan.io</api_url>
                <snap_code_size>300</snap_code_size>
            </snapscan>
        </payment>
    </default>
</config>