<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2016 Fontera Digital Works. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="snapscan" frontName="snap-scan">
            <module name="Magento_Checkout"/>
        </route>
    </router>
</config>